html{
    scroll-behavior: smooth;
    width: 100%;
}

body{
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    background-color: #0E0E0E;
    color: #FFF;
    padding: 0px;
    margin: 0px;
}