@mixin font-h1($color) {
    font-size: 55px;
    font-weight: 700;
    color: $color;
    text-transform: uppercase;
}

@mixin font-h2($color) {
    font-size: 45px;
    font-weight: 700;
    color: $color;
}

@mixin font-h3($color) {
    font-size: 38px;
    font-weight: 700;
    color: $color;
}

@mixin font-h4($color) {
    font-size: 30px;
    font-weight: 400;
    color: $color;
}

@mixin font-h5($color) {
    font-size: 21px;
    font-weight: 400;
    color: $color;
}

@mixin font-text($color) {
    font-size: 20px;
    line-height: 26px;
    opacity: 0.8;
    color: $color;
}


@mixin font-button($color) {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    color: $color;
}